*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: linear-gradient(to right, #283048, #859398);
  color: #f1f1f1;
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

h1 {
  font-family: Playfair Display SC, sans-serif;
  font-size: 45px;
}
h1 span:nth-child(1) {
  font-size: 20px;
  font-weight: 200;
  font-family: Roboto, sans-serif;
}
h1,
h2 {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  max-width: 400px;
  margin: 40px auto;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 15px 15px #000;
}
.cell {
  aspect-ratio: 1/1;
  background-color: #283048;
  color: #fff;
  cursor: pointer;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  font-size: 30px;
  font-weight: 400;
}
form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
input {
  padding: 20px;
  color: #f1f1f1;
  background-color: #f60101;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px #000;
  cursor: pointer;
}
